@media screen and (max-width: 1300px) {
    .content {
        padding: 0;
    }
}

@media screen and (max-width: 1024px) {
    .fond_accueil, .fond_metiers, .fond_cv {
        height: 50vh;
    }
    #scroll_up {
        z-index: -999;
    }
}

@media screen and (max-width: 850px) {
    .boite_accueil, .boite_metiers, .boite_cv {
        width: 100%;
        padding: 0;
    }
    .boite_accueil p:first-of-type, .boite_metiers p:first-of-type, .boite_cv p:first-of-type {
        margin-top: 0;
        font-size: 1.5em;
        font-weight: 500;
    }
    
    .boite_accueil p:nth-child(2), .boite_metiers p:nth-child(2), .boite_cv p:nth-child(2) {
        font-size: 2em;
        font-weight: 800;
        letter-spacing: 5px;
    }
    .menu_hamburger {
        display: block;
    }
    .menu_hamburger:hover {
        cursor: pointer;
    }
    .menu_mobile div {
        text-align: center;
        padding: 15px 0px;
    }
    .menu_mobile a {
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        color: var(--dark-blue);
        font-size: 1.2em;
        font-weight: bold;
    }
    .menu, .mon_nom {
        display: none;
    }
    .img_active{
        display: none;
    }
    .text_content{
        display: block;
    }
    .text_content p{
        max-width: 100%;
    }
    .text_cv{
        padding: 50px 0;
    }
    .text_block h2{
        text-align: center;
    }
    .footer_in{
        flex-direction: column;
    }
    .cv_content{
        border: none;
    }
    .poster p{
        text-align: center;
    }
    .text_content_no_img h3{
        text-align: center;
    }
}